* {
  box-sizing: border-box;
}
#board-display {
  max-width: 80vw;
  max-height: 80vh;
  aspect-ratio: 1/1;
  display: grid;
  grid: repeat(8, 1fr) / repeat(8, 1fr);
}

.square {
  position: relative;
  padding: 5px;
}

.light {
  height: 100%;
  background: #d3c0cd;
}

.dark {
  background: #937666;
}

.piece {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flipped {
  rotate: 180deg;
}
