#board-display {
  max-width: 80vw;
  max-height: 80vh;
  aspect-ratio: 1/1;
  display: grid;
  grid: repeat(8, 1fr) / repeat(8, 1fr);
}

.square {
  display:  flex;
  align-items: flex-end;
}

.light {
  height: 100%;
  background: #d3c0cd;
}

.dark {
  background: #937666;
}
